@model OPUS_Demo_5.ViewModels.AddressViewModel
<!-- Modal -->
<div class="modal fade" id="add-delivery-address" tabindex="-1" role="dialog" aria-labelledby="addDeliveryAddressLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDeliveryAddress">Add Delivery Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*add hidden input field to form to validate model state*@
                <form asp-action="AddDeliveryAddress" autocomplete="nay">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <h3>Delivery Address</h3>
                    </div>

                    @Html.HiddenFor(m => m.thisAddress.ValidatedByGoogleAPI, new { @id = "ValidatedByGoogleAPI" })

                    <div class="form-group">
                        <div id="PostCodeDiv">


                            <div class="form-group">
                                <label asp-for="thisAddress.PostCode"></label>

                                <div class="input-group">

                                    <input asp-for="thisAddress.PostCode" class="form-control" id="PostCode" autocomplete="no" />

                                    <span class="input-group-btn">

                                        <button type="button" class="btn btn-primary" style="border-radius:0px 4px 4px 0px;" onclick="ShowProposedAddresses()">
                                            Find Address
                                        </button>
                                        <span>
                                            <button type="button" disabled class="btn" style="background-color:transparent; cursor:default">OR</button>
                                        </span>

                                        <button type="button" class="btn btn-primary" style="border-radius: 4px;" onclick="EnableManualFields()">
                                            Enter Manually
                                        </button>


                                    </span>

                                </div>


                                <span asp-validation-for="thisAddress.PostCode" class="text-danger"></span>
                            </div>


                        </div>


                        <div id="partialProposedAddresses">

                        </div>


                        <div id="AddressFieldsDiv">
                            <div class="form-group">
                                <label asp-for="thisAddress.AddressLine1"></label>
                                <input asp-for="thisAddress.AddressLine1" id="AddressLine1" class="form-control" autocomplete="nay" />
                                <span asp-validation-for="thisAddress.AddressLine1" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="thisAddress.AddressLine2"></label>
                                <input asp-for="thisAddress.AddressLine2" id="AddressLine2" class="form-control" autocomplete="nay" />
                                <span asp-validation-for="thisAddress.AddressLine2" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="thisAddress.TownCity"></label>
                                <input asp-for="thisAddress.TownCity" id="TownCity" class="form-control" autocomplete="nay" />
                                <span asp-validation-for="thisAddress.TownCity" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="thisAddress.County"></label>
                                <input asp-for="thisAddress.County" id="County" class="form-control" autocomplete="nay" />
                                <span asp-validation-for="thisAddress.County" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="thisAddress.DespatchSite" class="control-label"></label>

                                <select asp-for="thisAddress.DespatchSite" id="DespatchSite" class="form-control" asp-items="Model.DespatchSiteOptions">
                                    <option value="" selected disabled>-- Select A Despatch Site --</option>
                                </select>
                                <span asp-validation-for="thisAddress.DespatchSite" class="text-danger"></span>
                            </div>


                        </div>




                    </div>


                    <div class="checkbox">
                        <label>
                            <input asp-for="thisAddress.SaveToCustomerAddresses" id="SaveAddress" /> Save to customer addresses for future use.
                        </label>
                    </div>

       



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*data-save attribute identifies the correct element to attach the "Save" to*@

  
                <button type="button" id="DeliveryAddressSave" class="btn btn-primary" data-save-address="modal">Save</button>



            </div>
        </div>
    </div>
</div>

<script>
    // Use Google API to return address options in a partial view select list.
     function ShowProposedAddresses() {

            var PostCode = $('#PostCode').val();
            $.ajax({
                url: '@Url.Action("GoogleApiGetAddresses", "Customer", new {id = Model.thisAddress.PostCode, viewModel = Model })',
                type: 'POST',
                data: { 'PostCode': PostCode },
                dataType: 'html',
                success: function (data) {
                    $("#partialProposedAddresses").html(data);
                }
            });
         $("#partialProposedAddresses").show();
         $('#ChooseAddressDiv').show();


         $('#ValidatedByGoogleAPI').val(true);


    };



    function EnableManualFields() {
        $('#AddressLine1').val('');
        $('#AddressLine2').val('');
        $('#TownCity').val('');
        $('#County').val('');

        $('#AddressLine1').prop("disabled", false);
        $('#AddressLine2').prop("disabled", false);
        $('#TownCity').prop("disabled", false);
        $('#County').prop("disabled", false);

        $('#AddressFieldsDiv').show();
        $('#ChooseAddressDiv').hide();

        $('#AddressLine1').show();
        $('#AddressLine2').show();
        $('#TownCity').show();
        $('#County').show();

        $("#DespatchSite").val('');

        $('#ValidatedByGoogleAPI').val(false);
    };



    // When an address is selected, populate fields and show next controls.
    $(document).on('change', '#ProposedAddresses', function (event) {
        $('#AddressFieldsDiv').show();

        var address = $('#ProposedAddresses').find(":selected").text();
        var addressArray = address.split(',');

        $('#AddressLine1').val(addressArray[0]);
        $('#AddressLine2').val(addressArray[1]);
        $('#TownCity').val(addressArray[2]);
        $('#County').val(addressArray[3]);



    });

    //When a despatch site has been selected, show next controls
    $(document).on('change', '#DespatchSite', function (event) {
        $('#ContactDiv').show();
        $('#PreferencesDiv').show();
        $('#SaveButton').show();
    });










</script>