@model OPUS_Demo_5.ViewModels.CustomerViewModel


<!--Address drop down ajax google api-->



<div class="form-group">
    <label class="control-label">Choose Address</label>
    <select class="form-control" id="ProposedAddresses" asp-for="SelectedCustomerAddress" asp-items="@(new SelectList(Model.ProposedCustomerAddresses, "IncrementForSelectList", "DisplayAddress"))">
        <option value="" selected disabled>-- Choose Address --</option>
    </select>

    @if (ViewBag.ProposedAddresses == null)
    {
        <div>@Model.thisNewCustomer.CustomerName</div>
    }

    <span class="input-group-btn">

        @*<a style="margin-left: 5px" onclick="showInPopup('@Url.Action("AddOrEdit", "Transaction", null,Context.Request.Scheme)', 'New Transaction')" class="btn btn-success text-white"><i class="fas fa-plus"></i></a>*@
        @*Test opening a new view first then change to modal partial*@
        @*<a onclick="showInPopup('@Url.Action("Create", "Customer", null,Context.Request.Scheme)', 'New Customer')" style="margin-left: 5px" class="btn btn-success text-white"><i class="fas fa-plus"></i></a>*@

    </span>
</div>

<span @*asp-validation-for="ProposedAddresses"*@ class="text-danger"></span>



