@model OPUS_Demo_5.Models.QuoteMatrix.PricingFactor

@{
    ViewData["Title"] = "Edit Pricing Factors";
}

<h2>Pricing Factors</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SashHeightAbove2100MMSurcharge" class="control-label"></label>
                <input autocomplete="off" asp-for="SashHeightAbove2100MMSurcharge" class="form-control" />
                <span asp-validation-for="SashHeightAbove2100MMSurcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MullionSplitsUnder1000MMSurcharge" class="control-label"></label>
                <input asp-for="MullionSplitsUnder1000MMSurcharge" class="form-control" />
                <span asp-validation-for="MullionSplitsUnder1000MMSurcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MullionSplits1000MMAndOverSurcharge" class="control-label"></label>
                <input asp-for="MullionSplits1000MMAndOverSurcharge" class="form-control" />
                <span asp-validation-for="MullionSplits1000MMAndOverSurcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPVCTrickleVentSurcharge" class="control-label"></label>
                <input asp-for="UPVCTrickleVentSurcharge" class="form-control" />
                <span asp-validation-for="UPVCTrickleVentSurcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AluminiumTrickleVentSurCharge" class="control-label"></label>
                <input asp-for="AluminiumTrickleVentSurCharge" class="form-control" />
                <span asp-validation-for="AluminiumTrickleVentSurCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonStockSingleColourSurCharge" class="control-label"></label>
                <input asp-for="NonStockSingleColourSurCharge" class="form-control" />
                <span asp-validation-for="NonStockSingleColourSurCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonStockDualColourSurCharge" class="control-label"></label>
                <input asp-for="NonStockDualColourSurCharge" class="form-control" />
                <span asp-validation-for="NonStockDualColourSurCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartSensationSurCharge" class="control-label"></label>
                <input asp-for="SmartSensationSurCharge" class="form-control" />
                <span asp-validation-for="SmartSensationSurCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartAlchemySurcharge" class="control-label"></label>
                <input asp-for="SmartAlchemySurcharge" class="form-control" />
                <span asp-validation-for="SmartAlchemySurcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarineHazardousCoatingSurcharge" class="control-label"></label>
                <input asp-for="MarineHazardousCoatingSurcharge" class="form-control" />
                <span asp-validation-for="MarineHazardousCoatingSurcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltionBurglarProofCylinderSurcharge" class="control-label"></label>
                <input asp-for="UltionBurglarProofCylinderSurcharge" class="form-control" />
                <span asp-validation-for="UltionBurglarProofCylinderSurcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSLeverOnRoseWithExcutcheonSurcharge" class="control-label"></label>
                <input asp-for="SSLeverOnRoseWithExcutcheonSurcharge" class="form-control" />
                <span asp-validation-for="SSLeverOnRoseWithExcutcheonSurcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSShootboltHandleSurcharge" class="control-label"></label>
                <input asp-for="SSShootboltHandleSurcharge" class="form-control" />
                <span asp-validation-for="SSShootboltHandleSurcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
