@model OPUS_Demo_5.ViewModels.QuoteViewModel 

<div class="row form-group">
    @*<div class="col-md-4">

    </div>*@
    <div class="col-md-4">
        <h3>Quote #@Model.thisQuote.QuoteReferenceNumber</h3>
    </div>
    <div class="col-md-8 text-right">
        @*@if (Model.IsNewQuote == true)
            {
                <h4>New Quote</h4>
            }
            else
            {
                <h4>Quote #@Model.thisQuote.QuoteReferenceNumber</h4>
            }*@

        @if (Model.thisQuote.QuoteReferenceNumber == null)
        {
        <h3> </h3>
        }
        else
        {
        <h3>Total: £@Model.thisQuote.InvoiceAmountNet + VAT</h3>
 }

    </div>

</div> 