@model OPUS_Demo_5.Models.EmpClass


@{ 
    ViewData["Title"] = "Binding Data To Dropdownlist";
}

<div class="text-center">
    <h1 class="display-4">asp/net Core 3.0 Tutorials</h1>"
    <h2>Binding Data Into DropdownList (Select Option)</h2>
    <hr />
    <select id="Select1" asp-items="@(new SelectList(ViewBag.displaydata, "Empid", "Empname"))">
    <option value="" selected disabled>-- Select Employee Name ---</option>    
    </select>
</div>