@model OPUS_Demo_5.ViewModels.BifoldItemViewModel

<div class="row form-group">
    @*<div class="col-md-4">

        </div>*@
    <div class="col-md-4">
        <h3>Bifold Item @Model.thisBifoldItem.ItemNumber</h3>
    </div>
    <div class="col-md-8 text-right">
        @*@if (Model.IsNewQuote == true)
            {
                <h4>New Quote</h4>
            }
            else
            {
                <h4>Quote #@Model.thisQuote.QuoteReferenceNumber</h4>
            }*@


            <h3 id="ItemQuoteValue">£@Model.ItemQuoteValue + VAT</h3>


    </div>

</div> 