@model OPUS_Demo_5.ViewModels.QuoteViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-10">

    </div>
    <button type="button" class="btn btn-primary col-md-2" data-toggle="ajax-modal" data-target="#add-bifold-item" data-url="@Url.Action("AddBifoldItem", "Quote")">
        Add Bi-Fold
    </button>
</div>


@*<table class="row col-md-12">

        <tbody>
            @foreach (var item in Model.thisBifoldItems)
            {
                <tr>


                    <td>
                        <div id="partial-bifold-item-1">
                            <partial name="~/Views/BifoldItem/_BifoldItemSummary.cshtml" model="@item" />
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>*@


<div class="row col-md-12">
    @foreach (var item in Model.thisBifoldItems)
    {


        <div id="partial-bifold-item-1" style="cursor:pointer;" onclick="javascript: alert('@item.Id clicked.');">
            <partial name="~/Views/BifoldItem/_BifoldItemSummary.cshtml" model="@item" />
        </div>



    }
</div>

@*Can't use @script section in partial views. Also, not using _Layout so need to specify jQuery here.*@
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
</script>