@model BifoldItem

@{

    Layout = null;

}
<div class="row">
    <div id="BifoldItem" class="col-md-16">

        <h4>Item - @Model.ItemNumber</h4>
        <h4>Location - @Model.Location</h4>
        <h4>Width - @Model.Width</h4>
        <h4>Height - @Model.Height</h4>
        <h4>Outside - Colour1</h4>
        <h4>Inside - Colour2</h4>
    </div>

</div>

<div id="Image" class="col-md-25">

    <img src="~/images/AAS_Icon_2018.png" />
</div>